*.o
*.gz
*.a
*.so
*.so.*
*.elf
*.m4
*.sub
*.status
*.log
*.guess
*.in

GPATH
GRTAGS
GTAGS
RuleTableToTree
ar-lib
bgolly
compile
configure
depcomp
golly
missing
source.am

cmdline/.deps/
cmdline/.dirstamp
gollybase/.deps/
gollybase/.dirstamp
gui-wx/.deps/
gui-wx/.dirstamp
gui-wx/configure/.deps/
gui-wx/configure/.dirstamp
../gui-wx/configure/Makefile
../gui-wx/configure/Makefile.in
lua/.deps
lua/.dirstamp

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
#*.so
#*.so.*
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
#*.lo
#*.a

# Linker output
*.ilk
*.map
*.exp

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# luarocks build files
*.src.rock
*.zip
*.tar.gz

# Node rules:
## Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

## Dependency directory
## Commenting this out is preferred by some people, see
## https://docs.npmjs.com/misc/faq#should-i-check-my-node_modules-folder-into-git
node_modules

# Book build output
_book

# eBook build output
*.epub
*.mobi
*.pdf