[submodule "zForth"]
	path = zForth
	url = https://github.com/serge-balakshiy/zForth.git
[submodule "embed"]
	path = embed
	url = https://github.com/serge-balakshiy/embed.git
[submodule "libforth"]
	path = libforth
	url = https://github.com/serge-balakshiy/libforth.git
[submodule "cxxforth"]
	path = cxxforth
	url = https://github.com/serge-balakshiy/cxxforth.git
[submodule "Atlast"]
	path = Atlast
	url = https://github.com/serge-balakshiy/Atlast.git
[submodule "kForth-64"]
	path = kForth-64
	url = https://github.com/serge-balakshiy/kForth-64.git
